{% extends 'base.html' %}
{% load static %}

{% block title %}
    Home Page Quizlandia
{% endblock title %}

{% block css %}
{% endblock css %}

{% block style %}
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }
        
        * {
            box-sizing: border-box;
        }
        
        /* Create a column layout with Flexbox */
        .row {
            display: flex;
        }
        
        /* Left column (menu) */
        .left {
            flex: 35%;
            padding: 15px 0;
            height: 1000px;
        }
        
        .left h2 {
            padding-left: 8px;
        }
        
        /* Right column (page content) */
        .right {
            flex: 65%;
            padding: 15px;
            /* background-image: url("media/quiz.webp"); 
            background-repeat: no-repeat;
            background-size:cover;
            color: white; */
            opacity: 80%;

        }

        .right div {
            border-radius: 30px;
            background-color: rgba(255, 255, 255, 0.75);
            padding: 5%;
            margin: 5%;
            height: max-content;
        }
        
        /* Style the search box */
        #mySearch {
            width: 100%;
            font-size: 18px;
            padding: 11px;
            border: 1px solid #ddd;
        }
        
        /* Style the navigation menu inside the left column */
        #myMenu {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
        
        #myMenu li a {
            padding: 12px;
            text-decoration: none;
            color: black;
            display: block
        }
        
        #myMenu li a:hover {
            background-color: #eee;
        }

        body {
            margin: auto;
            font-family: -apple-system, BlinkMacSystemFont, sans-serif;
            overflow: auto;
            background: linear-gradient(315deg, rgba(101,0,94,1) 3%, rgba(60,132,206,1) 38%, rgba(48,238,226,1) 68%, rgba(255,25,25,1) 98%);
            animation: gradient 10s ease infinite;
            background-size: 400% 400%;
            background-attachment: fixed;
        }

        @keyframes gradient {
            0% {
                background-position: 0% 0%;
            }
            50% {
                background-position: 100% 100%;
            }
            100% {
                background-position: 0% 0%;
            }
        }

        .wave {
            background: rgb(255 255 255 / 25%);
            border-radius: 1000% 1000% 0 0;
            position: fixed;
            width: 200%;
            height: 12em;
            animation: wave 10s -3s linear infinite;
            transform: translate3d(0, 0, 0);
            opacity: 0.8;
            bottom: 0;
            left: 0;
            z-index: -1;
        }

        .wave:nth-of-type(2) {
            bottom: -1.25em;
            animation: wave 18s linear reverse infinite;
            opacity: 0.8;
        }

        .wave:nth-of-type(3) {
            bottom: -2.5em;
            animation: wave 20s -1s reverse infinite;
            opacity: 0.9;
        }

        @keyframes wave {
            2% {
                transform: translateX(1);
            }

            25% {
                transform: translateX(-25%);
            }

            50% {
                transform: translateX(-50%);
            }

            75% {
                transform: translateX(-25%);
            }

            100% {
                transform: translateX(1);
            }
        }
    </style>
{% endblock style %}

{% block content %}
    <div class="row">
        <div class="left" style="background-color:#bbb; height: 100%;">
            <h2>Quizzes</h2>
            <form action="{% url 'search_results' %}" method="get">
                <input name="q" type="text" id="mySearch" onkeyup="myFunction()" placeholder="Search.." title="Type in a category">
            </form>
            <ul id="myMenu">
            {% for category in categories %}
                <li>
                    <a href="{{ category.get_absolute_url }}">
                       <i class="fa fa-bolt" aria-hidden="true"></i> {{ category.title }}
                    </a>
                </li>
                <!-- <p>{{ category.description | linebreaks }}</p> -->
            {% endfor %}
    
        </div>
        
        <div class="right">
            <div>
                {% if user.username %}
                    <h2><i class="fa fa-hand-rock-o" aria-hidden="true"></i> Welcome, {{user.username}}</h2>
                {% else %}
                    <h2><i class="fa fa-hand-rock-o" aria-hidden="true"></i> Welcome, guest</h2>
                {% endif %}
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero laudantium veniam, tempore laboriosam ad quo temporibus cum eaque quaerat reiciendis id a pariatur unde quis earum. Deleniti magni officiis optio.</p>
                <h3><i class="fa fa-chain-broken" aria-hidden="true"></i> Just select category you liked, and solve it!</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique dolore ducimus doloremque voluptate doloribus quae, tempora consequuntur accusantium iste, suscipit distinctio excepturi dicta repellat consectetur placeat optio. Est, doloremque error?</p>
            </div>
        </div>

        <div>
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
        </div>
    </div>

{% endblock %}