{% load static %}

{% block style %}
    <style>
        .futer {
            background-color: #ddd;
            width: 100%;
        }

        .futer div {
            float: right;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            height: 50px;
            width: 100%;
            text-align: right;
            padding: 15px 10px 15px 10px;
            background-color: rgb(163, 163, 163);
            font-size: 15px;
        }

    </style>
{% endblock style %}

<div class="futer">
    <div>
        Contact 
        <a href="https://t.me/shaxruxtleubaev1" style="text-decoration: none;">
            <i class="fa fa-telegram" aria-hidden="true"></i>
        </a>
        <a href="https://github.com/shaxruxtleubaev" style="text-decoration: none;">
            <i class="fa fa-github-square" aria-hidden="true"></i>
        </a>
    </div>
</div>